@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Background-primary: #9967da;
  --Background-secondary: #5a65c4;
  --Color-white: white;
  --Color-yellow: #ffff4e;
  --Color-black: black;
  --Color-purple: #9967da;
  --page-links: pink;
  --Text-grey: #4b5563;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: var(--Background-primary); */
  color: var(--Color-yellow);
  /* padding: 0px 60px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
