@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --Background-primary:#9967DA;
  --Background-secondary: #5A65C4;
  --Color-white:white;
  --Color-yellow:#FFFF4E;
  --Color-black:black;
  --Color-purple:#9967DA;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--Color-yellow);
  background: var(--Background-secondary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
