:root {
  --background-color-primary: #5e17eb;
  --section-background-color: #f9f7cf;
  --footer-color-primary: #fff34e;
  --color-nav: #fff34e;
  --font-color: #f9f7cf;
  --font-color-opt: #f8f8fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-primary);
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.logo-page {
  width: 400px;
  margin-top: 30px;
  border-radius: 90%;
  transition: box-shadow 1.5s;
}

.logo-page:hover {
  width: 400px;
  margin-top: 30px;
  border-radius: 90%;
  -webkit-box-shadow: 10px 10px 125px -52px rgba(255, 255, 78, 1);
  -moz-box-shadow: 10px 10px 125px -52px rgba(255, 255, 78, 1);
  box-shadow: 10px 10px 125px -52px rgba(255, 255, 78, 1);

  /* border: solid 3px black; */
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 30px 0px;
}

.nav-menu a {
  text-decoration: none;
  color: var(--font-color);
  margin: 0 30px;
  text-transform: uppercase;
  transition: border-bottom 1.5 ease-in-out;
}

.nav-menu a:hover {
  color: var(--color-nav);
  padding: 4px 0px;
  border-bottom: 3px solid var(--footer-color-primary);
}

section {
  margin: 0px 4%;
}

/*---- Page sections ---------*/

/*Section 1 - Home*/
.home-page {
  min-height: 100vh;
  background-color: var(--section-background-color);
  border-top-left-radius: 1.4%;
  border-top-right-radius: 1.4%;
}

/*Section 2 - About*/
.about-page {
  min-height: 100vh;
  /* background-color: var(--background-color-secondary); */
  background-color: var(--section-background-color);
}

/*Section 3 - Projects*/
.projects-page {
  min-height: 100vh;
  /* background-color: var(--background-color-secondary); */
  background-color: var(--section-background-color);
}

/*Section 4 - ArtWork*/
.artwork-page {
  min-height: 100vh;
  /* background-color: var(--background-color-secondary); */
  background-color: var(--section-background-color);
}

/*Section 5 - Contact-Page*/
.contact-page {
  min-height: 100vh;
  /* background-color: var(--background-color-secondary); */
  background-color: var(--section-background-color);
}

/*Footer - Footer Information*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  color: black;
  background-color: var(--footer-color-primary);
  margin: 0px 4%;
}

/* Mobile view */
@media (max-width: 768px) {
  .logo-page {
    width: 200px;
  }
  .logo-page:hover {
    width: 200px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-menu li {
    margin-bottom: 30px;
  }
  section {
    margin: 0px 3%;
  }
}
