:root {
  --background-color-primary: #5e17eb;
  --section-background-color: #f9f7cf;
  --footer-color-primary: #fff34e;
  --color-nav: #fff34e;
  --font-color: #f9f7cf;
  --font-color-opt: #f8f8fc;
  --neutral-white-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  color: var(--color-nav);
  font-size: 25px;
}

.logo-menu {
  display: flex;
  padding: 45px 26px;
  justify-content: space-between;
  width: 300px;
}

.logo-menu a {
  color: var(--color-nav);
  text-decoration: none;
}

.item-menu ul {
  display: flex;
  width: 600px;
  height: 117px;
  justify-content: space-between;
  padding: 45px 26px;
  list-style-type: none;
}
.item-menu ul a {
  text-decoration: none;
  color: var(--color-nav);
}
.work-date {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.work-date span {
  font-size: 0.4em;
}
