:root {
  --background-color-primary: #5e17eb;
  --section-background-color: #f9f7cf;
  --footer-color-primary: #fff34e;
  --color-nav: #fff34e;
  --font-color: #f9f7cf;
  --font-color-opt: #f8f8fc;
  --neutral-white-color: white;
  --solid-black-color: black;
}

.footer-nav {
  display: flex;
}

.footer-nav li {
  list-style: none;
}

.footer-nav li a {
  text-decoration: none;
  margin: 0px 30px;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 53.4375em) {
  .footer-nav li a {
    text-decoration: none;
    margin: 0px 30px;
    text-transform: uppercase;
    color: black;
    font-size: 0.9em;
    font-weight: 700;
  }

  .proj-card {
    width: 100px;
    height: 100px;
  }
}
