:root {
  --background-color-primary: #5e17eb;
  --section-background-color: #f9f7cf;
  --footer-color-primary: #fff34e;
  --color-nav: #fff34e;
  --font-color: #f9f7cf;
  --font-color-opt: #f8f8fc;
  --neutral-white-color: white;
  --solid-black-color: black;
}

section {
  height: 100vh;
  background-color: var(--background-color-primary);
}
